<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bagirata.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>7762221F9D85249FC012F3662E6DD7E91485498F</string>
				<key>dateExpires</key>
				<string>24/07/25</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1170</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7762221F9D85249FC012F3662E6DD7E91485498F</string>
						<key>dateExpires</key>
						<string>24/07/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleMobileAds.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V8532TS6AU</string>
						<key>name</key>
						<string>Frederich Blessy</string>
					</dict>
					<key>versionNumber</key>
					<string>11.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7762221F9D85249FC012F3662E6DD7E91485498F</string>
						<key>dateExpires</key>
						<string>24/07/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>UserMessagingPlatform.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V8532TS6AU</string>
						<key>name</key>
						<string>Frederich Blessy</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>V8532TS6AU.keepgoing.Bagirata</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>V8532TS6AU</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Bagirata.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>35ec7d49-558c-472b-951a-086ca4497c2b</string>
				<key>dateExpires</key>
				<string>24/07/25</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: keepgoing.Bagirata</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>V8532TS6AU</string>
				<key>name</key>
				<string>Frederich Blessy</string>
			</dict>
			<key>versionNumber</key>
			<string>1.2.5</string>
		</dict>
	</array>
</dict>
</plist>
